@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}


<!-- <Form>  -->
@using (Html.BeginForm())
{
<p>
    Enter Name :@Html.TextBox("ename")
</p>
<p>
    Select Gender:
    @Html.RadioButton("gender","Male") Male
    @Html.RadioButton("gender","Female") Female
</p>
<p>
    Select Hobbies
    <input type="checkbox" name="hobbies" value="Music" /> Music
    <input type="checkbox" name="hobbies" value="Sports" /> Sports
    <input type="checkbox" name="hobbies" value="Reading" /> Reading
</p>
<p>
    Add in Newsletter ?
    @Html.DropDownList("List")
</p>
<p>
    <input type="submit" value="Add"/>
</p>
}


